
*{
	margin:0;
	padding:0;
	list-style-type:none;
	}
a{
	text-decoration: none;
}
a,img{border:0;}
body{
	font:12px/180% Arial,Helvetica, sans-serif, "新宋体";
	background-color: darkgrey;
	 /*background:orchid;*/
	 /*background-image: url(../img/下载.png);*/
	 }
.container{
	width:600px;
	margin:50px  auto;
	overflow:hidden;
	}
/* display */
ul.display{
	float:left;
	width:600px;
	padding:0;
	list-style:none;
	border-top:1px solid #333;
	border-right:1px solid #333;
	background:#F5F5F5;}
ul.display li{
	float:left;width:600px;
	padding:10px 0;
	border-top:1px solid #111;
	border-right:1px solid #111;
	border-bottom:1px solid #333;
	border-left:1px solid #333;
	}
ul.display li a{
	color:orange;
	text-decoration:none;
	}
ul.display li .content_block{
	padding:0 10px;
	}
ul.display li .content_block h2{
	padding:5px;
	font-weight:normal;
	font-size:1.7em;
	}
ul.display li .content_block p{
	padding:5px 5px 5px 245px;
	font-size:1.2em;
	color:#3D3D3D;}
ul .display  li .content_block a img{
	padding:5px;
	border:2px solid #ccc;
	background:#fff;
	margin:0 15px 0 0;
	float:left;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	}
ul.thumb_view li{width:250px;}
ul.thumb_view li .content_block a img{
	margin:0 0 10px;
	}
a:hover.switch_thumb{
	filter:alpha(opacity=75);
	opacity:.75;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";}
a.swap{
	background-position:left bottom; 
	}
	.slider{
		margin: 0 auto;
		height: 71px;
		width: 100%;
	}
.suggest1{
	height: 30px;overflow: hidden;
	padding: 0 10px -8px 34px;
	background-position: -225px -156px;
	border-bottom: 2px solid white;
	width: 80%;margin: 10px auto;
}
.top_div{
	margin-top: 40px;
	margin-left: 20px;
	margin-bottom: -20px;
}
.return{
	float: right;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 10px;
}
.content_block .info{
	margin-right:auto;
	margin-top: 0px;
	padding-left:30px;
	padding-top: 10px;
	float: right;
}
.content_block img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	float: left;
}
.content_block{
	float: left;
}


